<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.mapper.ApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nan.entity.Application">
        <id column="id" property="id" />
        <result column="app_name" property="appName" />
        <result column="app_code" property="appCode" />
        <result column="sta" property="sta" />
        <result column="info" property="info" />
    </resultMap>
    
    <select id="list" resultMap="BaseResultMap">
    	select * from application
    	<where>
		  	<choose>
		        <when test="search != null and search != ''">
		            and (app_name like '%${search}%' or app_code like '%${search}%' or info like '%${search}%')
		        </when>
		        <otherwise>
		            1 = 1
		        </otherwise>
		    </choose>
    	</where>
    	<if test="sortName != null and sortName != ''">
	  		order by ${sortName} ${sortOrder}
	  	</if>
    	limit #{pageNum},#{pageSize}
	</select>

</mapper>
