<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.mapper.HouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nan.entity.House">
        <id column="id" property="id" />
        <result column="house_name" property="houseName" />
        <result column="house_code" property="houseCode" />
        <result column="num" property="num" />
        <result column="is_arrearage" property="isArrearage" />
        <result column="sta" property="sta" />
        <result column="info" property="info" />
    </resultMap>
    
    <select id="list" resultMap="BaseResultMap">
    	select * from house
    	<where>
		  	<choose>
		        <when test="search != null and search != ''">
		            and (house_name like '%${search}%' or house_code like '%${search}%' or info like '%${search}%')
		        </when>
		        <otherwise>
		            1 = 1
		        </otherwise>
		    </choose>
    	</where>
    	<if test="sortName != null and sortName != ''">
	  		order by ${sortName} ${sortOrder}
	  	</if>
    	limit #{pageNum},#{pageSize}
	</select>

</mapper>
