<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.mapper.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nan.entity.RoleMenu">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>
    
    <resultMap id="BaseResultMapExtral" type="com.nan.entity.RoleMenu">
    	<id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
        
        <association property="menu">
	        <result column="menu_name" property="menuName" />
        </association>
        
        <association property="role">
	        <result column="role_name" property="roleName" />
        </association>
    </resultMap>
    
    <select id="list" resultMap="BaseResultMapExtral">
    	select rm.*,role.role_name,menu.menu_name
    	from role role,menu menu,role_menu rm
		where role.id = rm.role_id and menu.id = rm.menu_id
		<if test="search != null and search != ''">
			and (menu.menu_name like '%${search}%' or role.role_name like '%${search}%')
	  	</if>
    	
    	<if test="sortName != null and sortName != ''">
	  		order by ${sortName} ${sortOrder}
	  	</if>
    	limit #{pageNum},#{pageSize}
	</select>

</mapper>
